<p>
  <strong>Employee Name:</strong>
  <%= @article.name1 %>
  <%= @article.name2 %>
  <%= @article.name3 %>
</p>

<p>
  <strong>Address:</strong>
  <%= @article.address1 %><br>
  <%= @article.address2 %><br>
  <%= @article.address3 %><br>
  <%= @article.address4 %><br>
  <%= @article.address5 %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @article.dob %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @article.start %>
</p>

<%= link_to 'Back', articles_path %>